<div class="container">
	<div class="row">
		<div class="card col-12 px-0">
			<div class="card-header">
				<button class="btn btn-primary btn-block"><i class="fas fa-plus"></i></button>
				<p class="text-center pt-2 mb-0">Livre: <i class="fas fa-square text-success"></i> Ocupada: <i class="fas fa-square text-danger"></i></p>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="box-mesa bg-success">
						<p class="text-center h1">1</p>
					</div>

					<div class="box-mesa bg-danger">
						<p class="text-center h1">2</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="controllers/mesaController.js"></script>
