<div class="container">
	<div class="row">
		<div class="card col-12 px-0">
			<div class="card-header">
				<button class="btn btn-primary btn-block"><i class="fas fa-plus"></i></button>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col-12 box-produto">
						<div class="row">
							<div class="col-12">
								<p class="h5">Strogonoff de Frango</p>
							</div>

							<div class="col-7">
								<p class="h6">Com batata palha e frango alho e olho</p>
							</div>

							<div class="col-5 pt-2 text-right">
								<p class="h5 text-danger">R$ 29,99</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="controllers/produtoController.js"></script>
